
<%- include ("../partials/header") %>

  <div class="ui main text container">
    <h1 class="ui header"><%= trail.name %> - <div class="ui star huge rating disabled" id="rating" data-rating="<%= trail.rating %>" data-max-rating="5"></div></h1>
    <h4>location at location, location, LI</h4>
    <p><%= trail.description %></p>
  </div>


  <div class="ui borderless main menu">
    <div class="ui text container">
      <div class="header item">
       <%= trail.name %>
      </div>
      <a href="#ratings" class="item">Ratings</a>
      <a href="#" class="item">Website</a>

      <a href="#" class="ui right floated dropdown item">
        Share <i class="dropdown icon"></i>

        <div class="menu">
          <div class="item">Facebook</div>
          <div class="item">Twitter</div>
          <div class="item">Instagram</div>
        </div>
      </a>
    </div>
  </div>

  <div class="ui text container">

            <div>
                <img src="<%= trail.image %>">
            </div>
            
            <%- include ("../partials/slideshow.ejs") %>


<table class="ui celled padded table" id="ratings">
  <thead>
    <tr><th class="single line">Author</th>
    <th>In A Word</th>
    <th>Rating</th>
    <th>Comment</th>
  </tr></thead>
    <tbody>

<% trail.comments.forEach(function(comment){ %>
    <tr>
      <td>
        <h2 class="ui center aligned header"><%= comment.author.username %></h2>
      </td>
      <td class="single line">
        <%= comment.title %>
      </td>
      <td>
        <div class="ui star rating disabled" id="rating" data-rating="<%= comment.rating %>" data-max-rating="5"></div>
      </td>
      <td>
          <%= comment.text %>
          </td>
    </tr>
<% }) %>

</tbody>
  <tfoot>
    <tr><th colspan="5">
        <div class="ui left floated menu">
         <% if (currentUser){ %>
            <a class="item" id="addCommentButton">Add comment</a>
            <% } else{ %>
            <a class="item" id="commentLoginButton">Add comment</a>
            <% } %>
        </div>
        
      <div class="ui right floated pagination menu">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>

        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </th>
  </tr></tfoot>
</table>

  </div>

<!--new comment modal-->
<%- include ("../comments/new.ejs") %>
  

<script type="text/javascript">

// display star ratings disabled on show page
$(document).ready(function(){$(".rating").rating('disable');});

// enable star rating function on new comment modal
$('#addCommentButton').click(function(){$(".rating").rating('enable');});


// show comment modal
$('#addCommentButton').click(function () {
        $('#addCommentModal').modal('show');
      });

// show login modal
 $('#commentLoginButton').click(function () {
    $('#loginModal').modal('show');
  });
      
      
</script>



<%- include ("../partials/footer") %>